<!DOCTYPE html>
<html lang="en">

<head>
	<title>GPT SQL Query</title>
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap JS CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Custom CSS -->
	<style>
		.container {
			margin-top: 100px;
		}
		ul {
			list-style-type: none;
			padding: 10px;
		}
		input[type=checkbox] {
			margin-right: 5px;
		}
	</style>
	<!-- Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<!-- Draw a container in center of page (verical and horizontal)
	with a textarea box (large, few lines) for input text based prompt and submit button.
	below result table.
	-->
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2" v-if="view === 'index'">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">GPT SQL Query</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="form-group">
									<textarea class="form-control" v-model="query" placeholder="Enter Prompt Query"
										name="query" type="text"></textarea>
								</div>
								<!-- slider with temperature edit from 0.1 to 1 -->
								<div class="form-group">
									<label for="temp">OpenAI Query Temperature ([[temp]]):</label>
									<input type="range" class="form-control-range" name="temp" id="temp" min="0.1"
										v-model="temp" max="1" step="0.1" value="0.5">
								</div>
								<div v-if="!isLoading">
									<input class="btn btn-lg btn-success btn-block" type="submit" value="Submit"
										@click="generate">
								</div>
								<div v-else>
									<button class="btn btn-lg btn-success btn-block" type="button" disabled>
										<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
										Loading...
									</button>
								</div>
							</fieldset>
							<!-- small prompt  -->
							<div class="panel-footer">
								<p>SQL Strucutre (select tables to use to generate query):</p>
								<small class="text-muted">
									<!-- each  -->
									<ul>
									<li v-for="(item, key) in schema" v-if="item.length > 0">
										<input
											type="checkbox"
											v-model="schema[key].selected"
											:value="key"
											:id="key"
											:name="key"
											@change="updateSchema(key)">
										<label :for="key">
											<b>[[key]]:</b> [[item.map( r=> r.name).join(", ")]]
										</label>
									</li>
									</ul>
									<button type="button" class="btn btn-default btn-sm" @click="selectAll">
										<span class="glyphicon glyphicon-check"></span> Select All
									</button>
									<button type="button" class="btn btn-default btn-sm" @click="deselectAll">
										<span class="glyphicon glyphicon-unchecked"></span> Deselect All
									</button>
								</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8 col-md-offset-2" v-if="view === 'generate'">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="pull-right">
								<button type="button" class="btn btn-default btn-sm" @click="view = 'index'">
									<span class="glyphicon glyphicon-arrow-left"></span> Back
								</button>
							</div>
							<h3 class="panel-title">Approve generate SQL query<br /><br /></h3>
							<!-- Back button -->
							
							
						</div>

						<div class="panel-body">
							<fieldset>
								<div class="form-group">
									<textarea class="form-control" name="query" type="text" rows="15" cols="90"
										v-model="sql_query"></textarea>
								</div>
								<div v-if="!isLoading">
									<input class="btn btn-lg btn-success btn-block" type="submit" value="Run"
										@click="runQuery">
								</div>
								<div v-else>
									<button class="btn btn-lg btn-success btn-block" type="button" disabled>
										<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
										Loading...
									</button>
								</div>
							</fieldset>
						</div>
						<div class="panel-footer">
							<small class="text-muted">Disclaimer: SQL is generated by OpenAI GPT-3. Please review the
								query before running. Query can be invalid.</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12" v-if="view === 'run'">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right">
							<button type="button" class="btn btn-default btn-sm" @click="view = 'generate'">
								<span class="glyphicon glyphicon-arrow-left"></span> Back
							</button>
						</div>
						<h3 class="panel-title">Results of SQL query<br /><br /></h3>
					</div>
					<div class="panel-body">
						<!-- Used SQL query -->
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th v-for="col in column_names">[[col]]</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="row in results">
										<td v-for="col in column_names">[[ row[col] ]]</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- Execution time -->

					</div>
					<div class="panel-footer">
						<div class="pull-right">
							<!-- Export as CSV and JSON -->
							<button type="button" class="btn btn-default btn-sm" @click="exportCSV">
								<span class="glyphicon glyphicon-download-alt"></span> Export as CSV
							</button>
							<button type="button" class="btn btn-default btn-sm" @click="exportJSON">
								<span class="glyphicon glyphicon-download-alt"></span> Export as JSON
							</button>
						</div>
						<p>Used SQL query:
						<small class="text-muted">
							[[sql_query]]
						</small>
						</p>
						<p>Execution time: <small class="text-muted">[[seconds_elapsed]] seconds</small></p>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Vue -->
	<script>
		var app = new Vue({
			el: '#app',
			delimiters: ['[[', ']]'],
			data: {
				sql_schema: '{{sql_schema}}',
				in_schema: JSON.parse('{{json_data|safe}}'),
				sql_query: '',
				view: 'index',
				temp: 0.5,
				query: '',
				column_names: [],
				results: [],
				isLoading: false,
				seconds_elapsed: 0,
			},

			created() {
				this.schema = this.in_schema;
				for (var key in this.schema) {
					if (localStorage.getItem(key) === 'true') {
						this.schema[key].selected = true;
					} else {
						this.schema[key].selected = false;
					}
				}
			},

			methods: {

				updateSchema: function (key) {
					// save to localStorage
					localStorage.setItem(key, this.schema[key].selected);
					// Rerender
					this.$forceUpdate();
				},

				selectAll: function () {
					for (var key in this.schema) {
						this.schema[key].selected = true;
						localStorage.setItem(key, this.schema[key].selected);
					}
					this.$forceUpdate();
				},

				deselectAll: function () {
					for (var key in this.schema) {
						this.schema[key].selected = false;
						localStorage.setItem(key, this.schema[key].selected);
					}
					this.$forceUpdate();
				},

				generate: async function () {
					// fetch
					this.isLoading = true;
					const response = await fetch('/generate', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							query: this.query,
							temp: this.temp,
							selected: Object.keys(this.schema).filter(key => this.schema[key]
								.selected)
						})
					});
					const data = await response.json();
					this.isLoading = false;
					if(data.success) {
						this.sql_query = data.sql_query;
						this.view = 'generate';
					} else {
						alert(data.error);
					}
				},

				runQuery: async function () {
					// fetch
					this.isLoading = true;
					const response = await fetch('/run', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							query: this.sql_query
						})
					});
					const data = await response.json();
					this.isLoading = false;
					if(data.success) {
						this.column_names = data.columns;
						this.results = data.results;
						this.seconds_elapsed = data.seconds_elapsed;
						this.view = 'run';
					} else {
						alert(data.error);
					}
				},

				exportCSV: async function () {
					let csv = '';
					const escape = (str) => str.replace(/"/g, '""');
					csv += this.column_names.map(x => `"${x}"`).join(',') + '\n';
					csv += this.results.map(row =>
						// row is {key: value}
						this.column_names.map(key => `"${escape(row[key])}"`).join(',')
					).join('\n');
					var blob = new Blob([csv], {
						type: "text/csv;charset=utf-8"
					});
					var link = document.createElement("a");
					var url = URL.createObjectURL(blob);
					console.log(csv, link, url)
					link.setAttribute("href", url);
					link.setAttribute("download", "export.csv");
					link.style.visibility = 'hidden';
					document.body.appendChild(link);
					link.click();
				},

				exportJSON: async function () {
					// Modern HTML5 download attribute
					let json = JSON.stringify(this.results, null, 4);
					var blob = new Blob([json], {
						type: "application/json;charset=utf-8"
					});
					var link = document.createElement("a");
					var url = URL.createObjectURL(blob);
					link.setAttribute("href", url);
					link.setAttribute("download", "export.json");
					link.style.visibility = 'hidden';
					document.body.appendChild(link);
					link.click();
				},
			}
		})
	</script>

</body>

</html>